<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
   <head>
      <title>
         Мой блог
      </title>
      <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
      <link href="/stylesheets/main.css?" media="screen" rel="Stylesheet" type="text/css" />
   </head>
   <body>
      <div id='header'>
         <h1>
            Мой блог
         </h1>
         <h2>
            Записи
         </h2>
      </div>
      <div id='content'>
         <div class='entry'>
            <h3 class='title'>
               Хеллоуин
            </h3>
            <p class='date'>
               Четверг, 31 октября, 2006
            </p>
            <p class='body'>
               Ох уже эти американские праздники.
            </p>
         </div>
         <div class='entry'>
            <h3 class='title'>
               Новый язык шаблонов для Rails
            </h3>
            <p class='date'>
               Пятница, 11 августа, 2006
            </p>
            <p class='body'>
               Haml — супер круто и жутко удобен. Моя Rails-душа наполнена счастьем.
            </p>
         </div>
      </div>
      <div id='footer'>
         <p class='copyright'>
            Все права защищены © Иван
         </p>
      </div>
   </body>
</html>